@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .padding {
    @apply px-[20px] sm:px-[70px] md:px-[110px] lg:px-[145px] xl:px-[180px] 2xl:px-[210px] desktop:px-[245px] ultra:px-[370px];
  }

  .step {
    @apply bg-primary opacity-15 w-7 md:w-4 lg:w-5 xl:w-6 2xl:w-[26px] desktop:w-8 ultra:w-12 pt-1 md:pt-[3px] lg:pt-[4px] xl:pt-[5px] desktop:pt-[6px] ultra:pt-[9px]
    rounded-sm desktop:rounded-md;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.long-title-active {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.long-title-active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Długość cienia */
  height: 100%;
  background: linear-gradient(
    to left,
    #f1f1f1,
    rgba(255, 255, 255, 0)
  ); /* Biały cień */
}

.long-title {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.long-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Długość cienia */
  height: 100%;
  background: linear-gradient(
    to left,
    white,
    rgba(255, 255, 255, 0)
  ); /* Biały cień */
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Szerokość paska przewijania */
  position: absolute;
}

.my-custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Kolor tła ścieżki paska przewijania */
  position: absolute;
}

.my-custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Kolor 'kciuka' paska przewijania */
}

.my-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #363636; /* Kolor 'kciuka' po najechaniu kursorem */
}

/* Dla przeglądarki Firefox */
.my-custom-scrollbar {
  scrollbar-width: thin; /* Możliwe wartości: 'auto', 'thin', 'none' */
  scrollbar-color: #888 #f1f1f1; /* Kolor 'kciuka' i ścieżki */
}

.link-container:hover .bin-icon {
  display: block; /* lub 'flex', w zależności od układu */
  opacity: 1; /* Pełna widoczność */
}

/* Styl dla ikony śmietnika, domyślnie ukrytej */
.bin-icon {
  display: block; /* Zmienione na block, aby umożliwić transition */
  opacity: 0; /* Początkowo niewidoczna */
  transition: opacity 0.3s ease; /* Dodano przejście dla opacity */
  pointer-events: none; /* Zapobiega interakcji, gdy ikona jest niewidoczna */
}
